@import "../../mixins/global.scss";

.container {
  @include flex(column);
  color: black;
  width: 100%;

  input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1.2em;
  }

  input::placeholder {
    color: #ccc;
    // text-transform: capitalize;
  }

  label {
    font-size: 1.28em;
    text-transform: capitalize;
  }
}
