@import "../../mixins/global.scss";

.container {
  background: linear-gradient(180deg, rgb(27, 1, 71) 0%, rgb(9, 0, 23) 96.2%);
  padding: 2rem 0;

  @include flex(row, space-evenly, center);
}

.left,
.right {
  @include flexCenter;
  gap: 2rem;
}

.logo {
  width: 32px;
}

.right {
  flex-direction: column;
  gap: 1rem;
  h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;

    & > span {
      color: rgba(247, 61, 147, 1);
    }
  }
}
